{minimum_otp_vsn, "23.3"}.
{erl_opts, [debug_info]}.

{deps, [{action_msgs, {ros2, foxy} },
        {rmw_dds_common, {ros2, foxy} },
        {example_interfaces, {ros2, foxy} },
        {std_msgs, {ros2, foxy} },
        {geometry_msgs, {ros2, foxy} }]}.


{project_app_dirs, ["demos/*", "rosie/*"]}.

{plugins, [{rosie_ros2_deps,"*.",{git, "https://github.com/ziopio/rosie_ros2_deps.git",{branch, "master"}}},
        {rosie_interface_compiler,"*.",{git, "https://github.com/ziopio/rosie_interface_compiler.git",{branch, "master"}}}]}.

{provider_hooks, [
        {pre, [{compile, {rosie, compile}}]},
        {post, [{clean, {rosie, clean}}]}
        ]}.