{minimum_otp_vsn, "23.3"}.
{erl_opts, [debug_info]}.

{deps, [
    {rcl_interfaces, {ros2, galactic}},
    {action_msgs, {ros2, galactic}},
    {rmw_dds_common, {ros2, galactic}},
    {example_interfaces, {ros2, galactic}},
    {std_msgs, {ros2, galactic}},
    {geometry_msgs, {ros2, galactic}}
]}.

{project_app_dirs, ["demos/*", "rosie/*"]}.

{plugins, [
    erlfmt,
    {rosie_ros2_deps, "*.",
        {git, "https://github.com/ziopio/rosie_ros2_deps.git", {branch, "master"}}},
    {rosie_interface_compiler, "*.",
        {git, "https://github.com/ziopio/rosie_interface_compiler.git", {branch, "master"}}}
]}.

{provider_hooks, [
    {pre, [{compile, {rosie, compile}}]},
    {post, [{clean, {rosie, clean}}]}
]}.
