{minimum_otp_vsn, "23.3"}.
{erl_opts, [debug_info]}.
{deps, []}.

{project_app_dirs, ["demos/*", "rosie/*"]}.

{plugins, [{rosie_interface_compiler,"*.",{git, "https://github.com/ziopio/rosie_interface_compiler.git",{branch, "master"}}}]}.

{provider_hooks, [
        {pre, [{compile, {rosie, compile}}]},
        {post, [{clean, {rosie, clean}}]}
        ]}.